name: Trigger website rebuild

on:
  release:
    types: [published]

jobs:
  rebuild:
    runs-on: ubuntu-latest
    steps:
      - name: Rebuild website with new release
        run: curl -X POST "${{ secrets.VERCEL_DEPLOY_HOOK }}"
